[Desktop Entry]
Version=1.1
Type=Application
Name=PhotoGIMP
GenericName=Image Editor
GenericName[ar]=محرر صور
GenericName[ast]=Editor d'imaxe
GenericName[be]=Рэдактар відарысаў
GenericName[bg]=Редактор на изображения
GenericName[br]=Embanner skeudennoù
GenericName[bs]=Obrada slika
GenericName[ca]=Editor d'imatges
GenericName[ca@valencia]=Editor d'imatges
GenericName[cs]=Editor obrázků
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[dz]=གཟུགས་བརྙན་ ཞུན་དག་པ།
GenericName[el]=Επεξεργαστής εικόνων
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Bildredaktilo
GenericName[es]=Editor de imagen
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fa]=ویرایشگر تصویر
GenericName[fi]=Kuvankäsittely
GenericName[fr]=Éditeur d’image
GenericName[gd]=Deasaiche dhealbhan
GenericName[gl]=Editor de imaxes
GenericName[gu]=ચિત્ર સંપાદક
GenericName[hr]=Uređivač slika
GenericName[hu]=Képszerkesztő
GenericName[id]=Penyunting Gambar
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Modifica immagine
GenericName[ja]=画像エディター
GenericName[ka]=გამოსახულებების რედაქტორი
GenericName[kk]=Суреттерді өңдеу қолданбасы
GenericName[km]=កម្មវិធី​និពន្ធ​រូបភាព
GenericName[kn]=ಚಿತ್ರ ಸಂಪಾದಕ
GenericName[ko]=이미지 편집기
GenericName[ky]=Сүрөт редактору
GenericName[lt]=Paveikslėlių rengyklė
GenericName[lv]=Attēlu redaktors
GenericName[mk]=Уредник за слики
GenericName[mr]=प्रतिमा संपादक
GenericName[my]=ရုပ်ပုံ တည်းဖြတ်ကိရိယာ
GenericName[nb]=Bildebehandler
GenericName[nds]=Billbewarker
GenericName[ne]=छवि सम्पादक
GenericName[nl]=Editor Afbeeldingen
GenericName[nn]=Bilethandterar
GenericName[oc]=Editor d'imatge
GenericName[pa]=ਚਿੱਤਰ ਐਡੀਟਰ
GenericName[pl]=Edytor obrazów
GenericName[pt]=Editor de imagens
GenericName[pt_BR]=Editor de imagens
GenericName[ro]=Editor de imagini
GenericName[ru]=Редактор изображений
GenericName[sk]=Editor obrázkov
GenericName[sl]=Urejevalnik slik
GenericName[sr]=Обрада фотографија
GenericName[sr@latin]=Obrada slika
GenericName[sv]=Bildredigerare
GenericName[ta]=பிம்ப திருத்தி
GenericName[te]=బొమ్మ కూర్పకము
GenericName[th]=เครื่องมือแก้ไขภาพ
GenericName[tr]=Görüntü Düzenleyici
GenericName[tt]=Sürät Tözätkeç
GenericName[uk]=Редактор зображень
GenericName[vi]=Bộ biên soạn ảnh
GenericName[xh]=UmHleli woMfanekiso
GenericName[zh_CN]=图像编辑器
GenericName[zh_HK]=圖片編輯器
GenericName[zh_TW]=影像編輯器
Comment=Create images and edit photographs
Comment[ar]=أنشئ صورا وحرّر لقطات
Comment[ast]=Cree imáxenes y edite semeyes
Comment[be]=Стварэньне відарысаў і праўленьне фатаздымкаў
Comment[bg]=Създаване на изображения и редакция на снимки
Comment[br]=Krouiñ hag embann skeudennoù pe luc'hskeudennoù
Comment[bs]=Napravite slike i obradite fotografije
Comment[ca]=Creeu imatges i editeu fotografies
Comment[ca@valencia]=Creeu imatges i editeu fotografies
Comment[cs]=Vytvářejte obrázky a upravujte fotografie
Comment[da]=Opret billeder og redigér fotografier
Comment[de]=Bilder erstellen und Fotografien bearbeiten
Comment[dz]=གཟུགས་བརྙན་ཚུ་ གསར་བསྐྲུན་འབད་ནི་དང་ དཔར་ཚུ་ཞུན་དག་འབད།
Comment[el]=Δημιουργία εικόνων και επεξεργασία φωτογραφιών
Comment[en_CA]=Create images and edit photographs
Comment[en_GB]=Create images and edit photographs
Comment[eo]=Krei bildojn aŭ redakti fotaĵojn
Comment[es]=Cree imágenes y edite fotografías
Comment[et]=Joonistamine ja fotode töötlemine
Comment[eu]=Sortu irudiak eta editatu argazkiak
Comment[fi]=Luo kuvia ja muokkaa valokuvia
Comment[fr]=Créer des images et modifier des photographies
Comment[gd]=Cruthaich dealbhan is deasaich dealbhan camara
Comment[gl]=Crear imaxes e editar fotografías
Comment[gu]=ચિત્રો બનાવો અને ફોટાઓમાં ફેરફાર કરો
Comment[hr]=Stvaraj slike i uređuj fotografije
Comment[hu]=Képek létrehozása és fotók szerkesztése
Comment[id]=Buat gambar dan sunting foto
Comment[is]=Búa til myndir og breyta ljósmyndum
Comment[it]=Crea immagini e modifica fotografie
Comment[ja]=画像の作成と写真の編集を行います
Comment[kk]=Суреттерді жасау және фотоларды түзету
Comment[km]=បង្កើត​រូបភាព និង កែសម្រួល​រូបថត
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ರಚಿಸಿ ಹಾಗು ಫೋಟೋಗ್ರಾಫ್‌ಗಳನ್ನು ಸಂಪಾದಿಸಿ
Comment[ko]=이미지를 만들고 사진을 편집합니다
Comment[lt]=Kurti paveikslėlius ir redaguoti fotografijas
Comment[lv]=Veido attēlus vai rediģē fotogrāfijas
Comment[mk]=Направи слики и уреди фотографии
Comment[mr]=प्रतिमा तयार करा आणि छायाचित्रे संपादित करा
Comment[my]=ရုပ်ပုံများကို ဖန်တီးပြီး ဓါတ်ပုံများကို တည်းဖြတ်ပါ
Comment[nb]=Lag bilder og rediger fotografier
Comment[ne]=छवि सिर्जना गर्नुहोस् र फोटोग्राफ सम्पादन गर्नुहोस्
Comment[nl]=Afbeeldingen aanmaken en foto's bewerken
Comment[nn]=Lag teikningar eller rediger foto
Comment[oc]=Crear d'imatges e modificar de fotografias
Comment[pa]=ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਤਸਵੀਰਾਂ ਸੋਧੋ
Comment[pl]=Tworzenie oraz obróbka obrazów i fotografii
Comment[pt]=Criar imagens e editar fotografias
Comment[pt_BR]=Crie e edite imagens ou fotografias
Comment[ro]=Creează imagini și editează fotografii
Comment[ru]=Создание изображений и редактирование фотографий
Comment[sk]=Vytvárajte a upravujte obrázky alebo fotografie
Comment[sl]=Ustvari slike in uredi fotografije
Comment[sr]=Направите нове сличице и средите ваше фотографије
Comment[sr@latin]=Napravite slike i uredite fotografije
Comment[sv]=Skapa bilder och redigera fotografier
Comment[ta]=பிம்பங்களை உருவாக்கவும் மற்றும் படங்களை திருத்தவும்
Comment[te]=బొమ్మలను సృష్టించు మరియు చిత్రాలను సవరించు
Comment[tr]=Görüntü oluşturur ve fotoğraf düzenler
Comment[uk]=Створення зображень та редагування фотографій
Comment[vi]=Tạo và biên soạn ảnh hay ảnh chụp
Comment[zh_CN]=创建图像或编辑照片
Comment[zh_HK]=建立圖像與編輯照片
Comment[zh_TW]=建立圖像與編輯照片
Icon=photogimp
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gimp-2.10 --file-forwarding org.gimp.GIMP @@u %U @@
Actions=
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/tiff;image/jpeg;image/x-psp;application/postscript;image/png;image/x-icon;image/x-xpixmap;image/x-exr;image/x-webp;image/heif;image/heic;image/svg+xml;application/pdf;image/x-wmf;image/jp2;image/x-xcursor;
Categories=2DGraphics;GTK;Graphics;RasterGraphics;
Keywords=GIMP;PhotoGIMP;graphic;design;illustration;painting;
Keywords[ar]=GIMP;PhotoGIMP;graphic;design;illustration;painting;
Keywords[ca]=GIMP;PhotoGIMP;gràfics;disseny;il·lustració;pintura;
Keywords[ca@valencia]=GIMP;PhotoGIMP;gràfic;disseny;il·lustració;pintura;
Keywords[cs]=GIMP;PhotoGIMP;grafika;design;ilustrace;malování;
Keywords[da]=GIMP;PhotoGIMP;grafisk;design;illustration;male;tegne;
Keywords[de]=GIMP;PhotoGIMP;Grafik;Design;Illustration;Malen;
Keywords[el]=GIMP;PhotoGIMP;γραφικό;σχεδίαση;επεξήγηση;βαφή;
Keywords[en_GB]=GIMP;PhotoGIMP;graphic;design;illustration;painting;
Keywords[es]=GIMP;PhotoGIMP;gráfico;diseño;ilustración;dibujo;
Keywords[eu]=GIMP;PhotoGIMP;irudia;diseinua;ilustrazioa;margotzea;
Keywords[fi]=GIMP;PhotoGIMP;grafiikka;maalaus;suunnittelu;valokuva;kuva;
Keywords[fr]=GIMP;PhotoGIMP;graphisme;conception;design;illustration;image;peinture;
Keywords[gl]=GIMP;PhotoGIMP;gráfico;deseño;ilustración;debuxo;
Keywords[hr]=GIMP;PhotoGIMP;grafika;dizajn;ilustracija;slikanje;
Keywords[hu]=GIMP;PhotoGIMP;grafika;dizájn;tervezés;illusztráció;festés;
Keywords[is]=GIMP;PhotoGIMP;mynd;hönnun;myndskreyting;málun;myndvinnsla;
Keywords[it]=GIMP;PhotoGIMP;grafica;design;illustrazioni;disegno;fotoritocco;
Keywords[lv]=GIMP;PhotoGIMP;grafika;dizains;ilustrācija;glezna;
Keywords[mr]=गिम्पसाठी;ग्राफिक्स;रचना;उदाहरण;चित्रकला;
Keywords[nl]=GIMP;PhotoGIMP;grafisch;ontwerp;illustratie;tekenen;
Keywords[pl]=GIMP;PhotoGIMP;grafika;graficzny;design;dizajn;projektowanie;wzornictwo;ilustracja;ilustrowanie;rysunek;rysowanie;rysownictwo;malowanie;malarstwo;obrazy;obrazki;fotografia;zdjęcia;retuszowanie;renderowanie;wtyczki;
Keywords[pt]=GIMP;PhotoGIMP;gráficos;design;desenho;ilustração;pintura;
Keywords[pt_BR]=GIMP;PhotoGIMP;gráficos;design;ilustração;pintura;
Keywords[ro]=GIMP;PhotoGIMP;graphic;design;illustration;painting;
Keywords[ru]=GIMP;PhotoGIMP;графика;дизайн;иллюстрация;рисование;
Keywords[sk]=GIMP;PhotoGIMP;grafika;grafický;návrh;dizajn;ilustrácia;kresba;maľovanie;maľba;
Keywords[sl]=GIMP;PhotoGIMP;grafika;oblikovanje;ilustracija;slikanje;
Keywords[sr]=Гимп;обрада фотографија;графика;дизајн;илустрација;цртање;obrada fotografija;grafika;dizajn;ilustracija;crtanje;GIMP;PhotoGIMP;graphic;design;illustration;painting;
Keywords[sv]=GIMP;PhotoGIMP;grafik;design;illustrera;målning;rita;
Keywords[tr]=GIMP;PhotoGIMP;grafik;tasarım;örnekleme;boyama;illüstrasyon;resimleme;
Keywords[uk]=GIMP;PhotoGIMP;graphic;design;illustration;painting;гімп;ґімп;графіка;дизайн;ілюстрації;малювання;
Keywords[zh_CN]=GIMP;PhotoGIMP;图形;设计;绘画;graphic;design;illustration;painting;
StartupNotify=true
