[Desktop Entry]
Version=1.1
Type=Application
Name=PhotoGIMP
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[es]=Editor de imágenes
GenericName[pt]=Editor de imagens
GenericName[pt_BR]=Editor de imagens
GenericName=Image Editor
Comment[en_CA]=Create images and edit photographs
Comment=Create images and edit photographs
Comment[es]=Crear imágenes y editar fotografías
Comment[pt]=Criar imagens e editar fotografias
Comment[pt_BR]=Crie e edite imagens ou fotografias
Comment=Create images and edit photographs
Icon=photogimp
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gimp-2.10 --file-forwarding org.gimp.GIMP @@u %U @@
Actions=
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/tiff;image/jpeg;image/x-psp;application/postscript;image/png;image/x-icon;image/x-xpixmap;image/x-exr;image/x-webp;image/heif;image/heic;image/svg+xml;application/pdf;image/x-wmf;image/jp2;image/x-xcursor;
Categories=2DGraphics;GTK;Graphics;RasterGraphics;
Keywords[es]=GIMP;gráfico;diseño;ilustración;pintura;
Keywords[pt]=GIMP;gráficos;design;ilustração;pintura;photo;
Keywords[pt_BR]=GIMP;gráficos;design;ilustração;pintura;photo;
Keywords[en_CA]=GIMP;graphic;design;illustration;painting;
Keywords[en_GB]=GIMP;graphic;design;illustration;painting;
Keywords=GIMP;graphic;design;illustration;painting;
StartupNotify=true
